* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.navbar {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.mobile {
  display: none;
}
.mobile svg {
  width: 30px;
  color: #e3e3e3;
}
.search-container {
  position: relative;
}

.search-container input[type="search"] {
  background-color: #303030;
  padding-left: 30px;
  width: 400px;
  height: 40px;
  border: 1px solid #616161;
  border-radius: 10px;
}
.search-container input::placeholder {
  color: #e3e3e3;
}
.search-container input:hover {
  border: 1px solid #e3e3e3;
  transition: all 0.3s ease;
}
.search-container input:focus {
  border: 1px solid #e3e3e3;
  outline: 1px solid white;
}

.search-icon {
  width: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  color: #616161;
  transform: translateY(-50%);
}
.end {
  display: flex;
  align-items: center;
}
.navbtn1 svg {
  width: 30px;
}
.navbtn1 {
  background-color: #322f33;
  border: transparent;
  border-radius: 10px;
  margin-right: 7px;
  color: #e3e3e3;
  padding-left: 5px;
  padding-right: 5px;
}
.navbtn1:focus {
  outline: 3px solid #005bd3;
}
.navbtn1:hover {
  background-color: #616161;
  transition: all 0.3s ease;
}
.navbtn2 {
  background-color: #322f33;
  border: 0;
  color: #e3e3e3;
  display: flex;
  align-items: center;
  width: auto;
  padding: 4px;
  border-radius: 10px;
}
.navbtn2:focus {
  outline: 3px solid #005bd3;
}
.navbtn2:hover {
  background-color: #616161;
  transition: all 0.3s ease;
}
.navbtn2 p {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 140%;
}
.dc {
  background-color: rgb(22, 197, 22);
  color: black;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  /* margin-left: 5px; */
}
.dc1 {
  background-color: rgb(22, 197, 22);
  color: black;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  margin-right: 10px;
  /* margin-left: 5px; */
}
.notifdrop {
  position: relative;
}
.aalert{
    background-color: #e3e3e3;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}
.one{
    position: absolute;
    right: 0;
}
.btn{
    position: relative;
    width: 100%;
    background-color: blue;
}
.btn:hover{
    background-color: red;
}
.notifdropcontent {
  position: absolute;
  top: 65px;
  right: -170px;
  color: black;
  background-color: white;
  outline: 1px solid #e3e3e3;
  padding: 20px;
  display: none;
  width: 450px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.top{
    border-bottom: 1px solid #e3e3e3;
}
.middle{
    border-bottom: 1px solid #e3e3e3;
}
.top button, .middle button {
  background-color: transparent;
  border: 0;
  color: black;
  padding: 3px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.notiftop{
    display: flex;
    justify-content: space-between;
}
.svg {
  width: 20px;
  margin-right: 10px;
}
.notifdrop .navbtn1:focus + .notifdropcontent {
  display: block;
  transition: all 0.3s ease; /* Add transition property */
}

.profiledropcontent {
  position: absolute;
  top: 80px;
  right: 10px;
  color: black;
  background-color: white;
  outline: 1px solid #e3e3e3;
  display: none;
  width: 330px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.pad{
      padding: 10px;
}

.profiledrop .navbtn2:focus + .profiledropcontent {
  display: block;
  transition: all 0.3s ease; /* Add transition property */
}

@media screen and (max-width: 768px) {
  /* Your CSS for mobile view goes here */
  .normal {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbtn2,
  .navbtn1 {
    background-color: transparent;
  }
  .navbtn2 p {
    display: none;
  }
  .search-container input[type="search"] {
    width: 190px;
  }
}
